@import url('https://fonts.googleapis.com/css?family=Lato');

/* Use a simple background color for the body */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #8896bb;
  color: rgb(13, 15, 15);
}

/* Use a simple header with some padding */
header {
  background-color: #c28282;
  color: #141313;
  padding: 10px; 
}

/* Use a simple font size for the header elements */
h1 {
  margin: 2;
  font-size: 28px;
}

nav {
  font-size: 16px;
}

nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgba(182, 32, 32, 0.77);
}

/* Add some space between the header and the main content */
main {
  padding-top: 20px;
}

/* Use a simple layout for the main content */
main {
   max-width:800px; 
   margin:auto; 
   padding:21px; 
}

/* Use a simple style for each place */
.place {
   margin-bottom:20px; 
}

/* Use a responsive image for each place */
.place img {
   width:100%; 
   height:auto; 
}

/* Use a simple style for each place's content */
.place h3, .place p {
   margin:10px; 
}

.place h3 {
   color:#965353; 
   font-size:20px; 
}

.place p {
   color:#a11e1e; 
   font-size:16px; 
}

/* Use a simple footer with some text */
footer {
   background-color:#462a4e; 
   color:#312b2b; 
   padding:10px; 
   text-align:center; 
}

img {
    width:100%; 
    height:auto; 
 }